<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Oversigt over bookings</title>
</head>
<body>
<h1>Oversigt over bookings</h1>
<table>
    <tr>
        <th>Booking id</th>
        <th>Customer</th>
        <th>Motorhome</th>
        <th>Rental start</th>
        <th>Rental slut</th>
        <th>Pick up street</th>
        <th>Pick up city</th>
        <th>Pick up zipcode</th>
        <th>Dropoff street</th>
        <th>Dropoff city</th>
        <th>Dropoff zipcode</th>
        <th>Ekstra udstyr</th>
        <th>Kommentar</th>
    </tr>

    <tr th:each="booking : ${bookings}">
        <td th:text="${booking.order_id}"></td>
        <td th:text="${booking.customers}"></td>
        <td th:text="${booking.motorhome}"></td>
        <td th:text="${booking.rentalStartTime}"></td>
        <td th:text="${booking.rentalStopTime}"></td>
        <td th:text="${booking.pickupStreetname}"></td>
        <td th:text="${booking.pickupCity}"></td>
        <td th:text="${booking.pickupZipcode}"></td>
        <td th:text="${booking.dropoffStreetname}"></td>
        <td th:text="${booking.dropoffCity}"></td>
        <td th:text="${booking.dropoffZipcode}"></td>
        <td th:text="${booking.extras}"></td>
        <td th:text="${booking.comment}"></td>
        <td><a th:href="@{/edit/{id}(id=${booking.order_id})}"><button>Rediger</button></a></td>
        <td><a th:href="@{/deleteCustomer/{id}(id=${booking.order_id})}"><button>Delete</button></a></td>
    </tr>

</table>
</body>
</html>