<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
</head>
<body>

<div class="container">
    <h1>Opret Customer</h1>

    <form action="/addCustomer" method="post">
        <label for="firstName">Fornavn</label>
        <input type="text" name="firstName" id="firstName">
        <br>
        <label for="lastName">Efternavn</label>
        <input type="text" name="lastName" id="lastName">
        <br>
        <label for="addressStreetname">Address</label>
        <input type="text" name="addressStreetname" id="addressStreetname">
        <br>
        <label for="addressCity">By</label>
        <input type="text" name="addressCity" id="addressCity">
        <br>
        <label for="addressZipcode">Postnr</label>
        <input type="text" name="addressZipcode" id="addressZipcode">
        <br>
        <label for="addressCountry">Land</label>
        <input type="text" name="addressCountry" id="addressCountry">
        <br>
        <label for="email">Email</label>
        <input type="text" name="email" id="email">
        <br>
        <label for="phonenumber">Mobil</label>
        <input type="text" name="phonenumber" id="phonenumber">
        <br>
        <label for="dob">Dob</label>
        <input type="date" name="dob" id="dob">
        <br>
        <label for="driverslicense">Kørekort</label>
        <input type="text" name="driverslicense" id="driverslicense">
        <br>

        <input type="submit" name="submit">

    </form>
</div>

<div>
    <h1>All Customers</h1>

    <table>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Streetname</th>
            <th>City</th>
            <th>zipcode</th>
            <th>Country</th>
            <th>email</th>
            <th>phonenumber</th>
            <th>Date of birth</th>
            <th>Diverslicense</th>
        </tr>
        <tr th:each="customer : ${customers}">
            <td th:text="${customer.firstName}"> </td>
            <td th:text="${customer.lastName}"></td>
            <td th:text="${customer.addressStreetname}"></td>
            <td th:text="${customer.addressCity}"></td>
            <td th:text="${customer.addressZipcode}"></td>
            <td th:text="${customer.addressCountry}"></td>
            <td th:text="${customer.email}"></td>
            <td th:text="${customer.phonenumber}"></td>
            <td th:text="${customer.dob}"></td>
            <td th:text="${customer.driverslicense}"></td>
            <td><a th:href="@{/edit/{id}(id=${customer.customer_id})}"><button>Rediger</button></a></td>
        </tr>

    </table>
</div>

</body>
</html>